<mat-dialog-content>

  <h3>Copie o código </h3>
  <div class="box">
    <textarea name="" id="texto" cols="75" rows="9" noresize readonly disabled>
    {{script}}
  </textarea>
    <span>
      <button mat-icon-button>
        <mat-icon matTooltip="Clique para copiar" (click)="copyToClipboard(script)" aria-hidden="false">
          content_copy
        </mat-icon>
      </button>
    </span>


  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" mat-dialog-close cdkFocusInitial>Fechar</button>

</mat-dialog-actions>
