<mat-dialog-content>

  <h3>Copie o código </h3>
  <div class="box">
    <div>
      <textarea name="" id="texto" cols="75" rows="10" noresize readonly disabled>
    {{script}}
   </textarea>
    </div>
    <div>
      <span>
        <button mat-icon-button>
          <mat-icon matTooltip="Clique para copiar" (click)="copyToClipboard(script)" aria-hidden="false">
            content_copy
          </mat-icon>
        </button>
      </span>
    </div>




  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" mat-dialog-close cdkFocusInitial>Fechar</button>

</mat-dialog-actions>
