<mat-dialog-content>


  <app-grupo [formulario]="i.data.usuario.modulo.apresentador.form" [permissao]="permissao"
    [modelo]="i.data.usuario.modulo.apresentador.modelo">
  </app-grupo>

  <!--
  <div [ngClass]="i.data.usuario.modulo.apresentador.modelo['vozColecao'].cssColuna">
    <app-input [formulario]="i.data.usuario.modulo.apresentador.form.get('vozColecao')"
      [modelo]="i.data.usuario.modulo.apresentador.modelo['vozColecao']">
    </app-input>
  </div> -->










  <!-- <video *ngIf="ecluirSessao" #video width="320px" controls crossorigin="anonymous"
    poster="{{'assets/modulo/apresentador/modelo/' + data.nome + '.png'}}">
    <source src="{{'assets/modulo/apresentador/modelo/' + data.nome + '.mp4'}}" type="video/mp4">
    Vídeo não suportado!
  </video>

  <nav>
    <button mat-raised-button color="accent" (click)="removerFundoRGB()">PLAY</button>
    <button mat-raised-button color="accent" (click)="pause()">PAUSE</button>
  </nav>

  <canvas #exibir id="exibir" width="320" height="170"></canvas>
  <canvas #processando id="processando" width="320" height="170"></canvas> -->



</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-raised-button color="accent" (click)="excluir()" [mat-dialog-close]="true"
    cdkFocusInitial>CANCELAR</button>

</mat-dialog-actions>
