@import "~src/sass/formulario";
@import "~src/sass/construtor";
.f {
  @include formulario();
}

app-lista {
  width: 100%;
}

app-grupo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

mat-dialog-content {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  // @extend %scroll;
}

nav {
  display: block;
  justify-content: center;
}

#processando {
  visibility: hidden;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: rgb(120, 208, 50);
}
