<ng-container *ngFor="let campo of permissao; index as i;">

  <ng-container *ngIf="campo.visualizar">

    <div *ngIf="modelo[campo.id].tipo == 'control'" [ngClass]="modelo[campo.id].cssColuna">

      <!--  <mat-icon *ngIf="modelo[campo.id].icone"> {{ modelo[campo.id].icone }} </mat-icon> -->

      <ng-container [ngSwitch]="modelo[campo.id].inputTipo">

        <!--    <div *ngSwitchCase="'galeriaHorizontal' ">GALERIA</div> -->

        <app-galeria-horizontal *ngSwitchCase="'galeriaHorizontal' " [formulario]="formulario"
          [modelo]="modelo[campo.id]" [id]="campo.id" [ngClass]="modelo[campo.id].cssColuna">
        </app-galeria-horizontal>



        <app-input *ngSwitchCase="'input'" [formulario]="formulario.get(campo.id)" [modelo]="modelo[campo.id]">
        </app-input>
        <app-range *ngSwitchCase="'range'" [formulario]="formulario.get(campo.id)" [modelo]="modelo[campo.id]">
        </app-range>
        <app-radio *ngSwitchCase="'radio'" [formulario]="formulario.get(campo.id)" [modelo]="modelo[campo.id]">
        </app-radio>
        <app-input *ngSwitchCase="'texto-area'" [formulario]="formulario.get(campo.id)" [modelo]="modelo[campo.id]">
        </app-input>
        <app-input *ngSwitchCase="'select'" [formulario]="formulario.get(campo.id)" [modelo]="modelo[campo.id]">
        </app-input>
        <app-input *ngSwitchCase="'color'" [formulario]="formulario.get(campo.id)" [modelo]="modelo[campo.id]">
        </app-input>

      </ng-container>

    </div>

    <!-- LISTA-->

    <app-lista *ngIf="modelo[campo.id].tipo == 'lista'" [formulario]="formulario.get(campo.id)"
      [modelo]="modelo[campo.id]">
    </app-lista>

    <!-- TÓPICO GRUPO OU GRUPO LISTA-->

    <ng-container *ngIf="modelo[campo.id].tipo== 'grupo' || modelo[campo.id].tipo == 'grupoLista'">


      <div *ngIf="modelo[campo.id].tipo== 'grupo' || modelo[campo.id].tipo == 'grupoLista'"
        [ngClass]="modelo[campo.id].cssColuna" (click)="modelo[campo.id].abrirGrupo = !modelo[campo.id].abrirGrupo">

        <mat-icon *ngIf="modelo[campo.id].icone">{{ modelo[campo.id].icone }}</mat-icon>

        <mat-form-field appearance="{{ modelo[campo.id].cssInput }}">
          <input matInput value="{{ modelo[campo.id].nome }}">
        </mat-form-field>

        <button mat-icon-button>
          <mat-icon [@icone]="modelo[campo.id].abrirGrupo">expand_more</mat-icon>
        </button>
      </div>

      <!-- CONTEÚDO GRUPO OU GRUPO LISTA-->

      <div [@conteudo]="modelo[campo.id].abrirGrupo" [ngClass]="modelo[campo.id].cssColuna">

        <app-grupo *ngIf="modelo[campo.id].tipo == 'grupo'" [formulario]="formulario.get(campo.id)"
          [permissao]="campo.grupo" [modelo]="modelo">
        </app-grupo>

        <div *ngIf="modelo[campo.id].tipo == 'grupoLista'">

          <app-grupo *ngFor=" let lista of getLista(formulario.get([campo.id])).controls let i=index"
            [formulario]="formulario.get([campo.id, i])" [permissao]="campo.grupo" [modelo]="modelo">
          </app-grupo>

        </div>

      </div>



    </ng-container>

  </ng-container>

</ng-container>