@import "~src/sass/formulario";

.f {
  @include formulario();
}

app-lista,
mat-form-field {
  width: 100px;
}

app-grupo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
