@import '/src/sass/construtor';

@import "/src/sass/formulario";

nav {
  display: block;
  margin-bottom: 16px;
  text-align: center;
 /*  background-color: cornflowerblue; */
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
/*     background-color: rgb(154, 151, 175); */
}

.formulario  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 8px;
  width: 90%;
  background-color: rgb(85, 78, 78);
}

.formulario > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.a { @include formulario();}


