<ng-template #carregando>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

<ng-container *ngIf="carregar; else carregando">

  <app-formulario [modulo]="chaveModulo" [debugar]='false'></app-formulario>

  <section>

    <div class='formulario'>

      <section>

        <div class='a-total'>

          <mat-progress-bar *ngIf="carregarAudio" mode="query"></mat-progress-bar>

          <audio #audio controls crossorigin="anonymous">
            Seu navegador não suporte Audio mp3. Instale outro navegador.
          </audio>

        </div>

        <div class='a-total'>

          <button mat-raised-button color="accent"
            (click)="caixaDialogo.apresentador('90%','700px',i.data.usuario.modulo.apresentador.form.value.apresentadorGaleria)"
            [disabled]="!i.data.usuario.modulo.apresentador.form.valid">
            CONFIGURAR VÍDEO</button>
          <button mat-raised-button color="accent" (click)="playAudio()">OUVIR</button>
          <button mat-raised-button color="accent"
            (click)="caixaDialogo.codigo('700px',i.data.usuario.modulo.apresentador.form.value)"
            [disabled]="i.data.usuario.modulo.apresentador.form.value.processamento">
            <span *ngIf="!i.data.usuario.modulo.apresentador.form.value.processamento">GERAR CÓDIGO</span>
            <span *ngIf="i.data.usuario.modulo.apresentador.form.value.processamento">GERAR CÓDIGO</span>
          </button>

          <!--  <button mat-raised-button color="accent" (click)="playAudio()" [disabled]="!formulario.valid">OUVIR</button> -->

        </div>

      </section>

    </div>

  </section>

</ng-container>
