@import '/src/sass/construtor';

@import "/src/sass/formulario";

// Whats
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content:end;
  padding: 0px;
  width: 100%;
/*   background-color: rgba(0, 0, 255, 0.123); */
}

/* ul {
  @include menu-lista;
}
.ativo {
  @include ativo;
}
.menu-divisor {
  @include menu-divisor;
} */

%limitarTexto {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0px;
    padding: 0px;
    &:hover {
      white-space: normal;
      overflow: visible;
    }
}

li {
  @extend %flex-linha;
  @extend %margens;
  color: var(--cor-inativo);
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 56px;
  border-radius: 2%;
  cursor: pointer;
  border-bottom: 0.5px dotted var(--cor-divisor);
  & > div {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    background-color: brown;
    @extend %fonte-sub-titulo-2;
   }
  & > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
     max-width: 340px;
     min-width: 100px;
   }
  & > span > p {

    @extend %limitarTexto;
    color: var(--cor-ativo);
    @extend %fonte-sub-titulo-1;
   }
  & > span > span {
    @extend %limitarTexto;
    color: var(--cor-inativo);
    @extend %fonte-caption;
   }
  & > button {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 16px;
    margin-left: 16px;
/*     display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; */
    color: var(--cor-inativo);
    @extend %fonte-caption;
   }
  &:hover { background-color: var(--cor-background-ativo);}
  &:focus { outline: 0;}
  & > h1 {
    margin: 0px;
    padding: 0px;
    padding-left: 16px;
    @extend %fonte-body2;
    @extend %texto-limitar;
  }
}

nav {
  display: block;
  margin-bottom: 16px;
  text-align: center;
 /*  background-color: cornflowerblue; */
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
/*     background-color: rgb(154, 151, 175); */
}

.formulario  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 8px;
  width: 90%;
  background-color: rgb(85, 78, 78);
}

.formulario > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.a { @include formulario();}


