@import '~src/sass/construtor';

section {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(80, 80, 80);
  box-sizing: border-box;
}

app-menu {
  width: 260px;
  @extend %conteudo;
}

app-modulo {
  @extend %conteudo;
  width: 100%;
}

:host app-desktop {

    max-width: 300px;
    min-width: 280px;
  @extend %conteudo;

  @media (max-width: 600px) {
    display: none;
  }
  @media (min-width: 660px) {
    max-width: 360px;
    min-width: 280px;
  }

}



mat-drawer-container, mat-sidenav-container {
  height: 100%;
}

.scroll { @extend %scroll; }

/* Remove cores de fundo das Diretivas Material Design */
.mat-drawer-container { background-color: transparent;}
.mat-drawer { background-color: transparent;}
.mat-sidenav-container { background-color: transparent;}
.mat-drawer-content { overflow: hidden;}

// Corrige scroll 100%
/* :host ::ng-deep cdk-virtual-scroll-viewport .cdk-virtual-scroll-content-wrapper {
  width: 100%;
} */
