@import "~src/sass/construtor";

mat-dialog-content {
  width: 100%;
  height: auto;
  // overflow: hidden;
  border: 1px solid red;
}
script {
  border: 1px solid red;
}
.mat-dialog-container {
  border: 1px solid green;
}

#exibir {
  border: 1px solid yellow;
}
