@import "~src/sass/construtor";

section {
  padding: 0px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  @extend %flex-linha;
/*   background-color: brown; */
}
button {
  margin: 0px;
  padding: 0px;
  margin-right: 8px;
  /* margin-left: 8px; */
}
#titulo {
  line-height: 150%;
  padding-left: 16px;
  padding-right: 8px;
  @extend %texto-limitar;
  @extend %fonte-sub-titulo-1;
  @media (max-width: 600px) {
    padding-left: 0px;
  }
}
