<div [ngClass]="'pad-tema-black fundo'">
  <div class="centralizar">

    <div *ngIf="autenticar.auth.user | async as usuario; else exibeLogin">
      <mat-card>
        <h1>Olá {{ usuario.email }}!</h1>
        <button (click)="autenticar.desconectar()">ok</button>
      </mat-card>
    </div>

    <ng-template #exibeLogin>
      <div class="logo">
        <img mat-card-sm-image src="../../assets/Logo-V8-Sites.jpg" alt="V8 Soluções">
      </div>

      <mat-form-field *ngIf="cadastrarUsuario" appearance="fill" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput>
        <mat-icon mat-icon-button matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput [type]="'email'">
        <mat-icon mat-icon-button matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field *ngIf="cadastrarUsuario" appearance="fill" class="full-width">
        <mat-label>Telefone</mat-label>
        <input matInput>
        <mat-icon mat-icon-button matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field *ngIf="!novaSenha" appearance="fill" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput [type]="exibir ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="exibir = !exibir" [attr.aria-label]="'Senha'"
          [attr.aria-pressed]="exibir">
          <mat-icon mat-icon-button matSuffix>{{exibir ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field *ngIf="cadastrarUsuario" appearance="fill" class="full-width">
        <mat-label>Confirmar Senha</mat-label>
        <input matInput [type]="exibir ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="exibir = !exibir" [attr.aria-label]="'Confirmar Senha'"
          [attr.aria-pressed]="exibir">
          <mat-icon mat-icon-button matSuffix>{{exibir ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <!-- <mat-form-field *ngIf="novaSenha" appearance="fill" class="full-width">
        <mat-label>Senha antiga</mat-label>
        <input [(ngModel)]="autenticar.user.senhaAntiga" matInput [type]="exibir ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="exibir = !exibir" [attr.aria-label]="'Senha antiga'"
          [attr.aria-pressed]="exibir">
          <mat-icon mat-icon-button matSuffix>{{exibir ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field> -->

      <!-- <mat-form-field *ngIf="novaSenha" appearance="fill" class="full-width">
        <mat-label>Nova senha</mat-label>
        <input matInput [type]="exibir ? 'password' : 'text'" [(ngModel)]="autenticar.user.novaSenha">
        <button mat-icon-button matSuffix (click)="exibir = !exibir" [attr.aria-label]="'Nova senha'"
          [attr.aria-pressed]="exibir">
          <mat-icon mat-icon-button matSuffix>{{exibir ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field> -->

      <!-- <mat-form-field *ngIf=" novaSenha" appearance="fill" class="full-width">
        <mat-label>Confirmar nova senha</mat-label>
        <input matInput [type]="exibir ? 'password' : 'text'" [(ngModel)]="autenticar.user.confirmaNovaSenha">
        <button mat-icon-button matSuffix (click)="exibir = !exibir" [attr.aria-label]="'Confirmar nova senha'"
          [attr.aria-pressed]="exibir">
          <mat-icon mat-icon-button matSuffix>{{exibir ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field> -->

      <button class="button-login" mat-raised-button>
        <span (click)="autenticar.logar()" *ngIf="!cadastrarUsuario && !novaSenha">
          <mat-label>Entrar</mat-label>
          <mat-icon>login</mat-icon>
        </span>
        <span (click)="autenticar.cadastrar()" *ngIf="cadastrarUsuario">Cadastre-se</span>
        <span (click)="autenticar.resetarSenha()" *ngIf="novaSenha">Redefinir Senha</span>
      </button>

      <div *ngIf="!cadastrarUsuario && !novaSenha" class="buttons">
        <button (click)="cadastrar()" class="button-cadastrar" mat-raised-button>
          <mat-label>Cadastre-se</mat-label>
        </button>
        <button (click)="senhaNova()" mat-stroked-button>
          <mat-label>Esqueci a senha</mat-label>
        </button>
      </div>

      <div *ngIf="!cadastrarUsuario && !novaSenha" class="linhas">
        <hr>
        <mat-label>Ou</mat-label>
        <hr>
      </div>

      <div *ngIf="!cadastrarUsuario && !novaSenha" class="social-button">
        <cool-google-button color="light">Login with Google</cool-google-button>
      </div>
    </ng-template>
  </div>
</div>
