<ng-template #carregando>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>

<ng-container *ngIf="carregar; else carregando">

  <section [ngSwitch]="i.data.usuario.credenciais.acao">

    <section *ngSwitchCase="i.data.const.acao.itemNovo">
      <app-formulario [modulo]="chaveModulo" [debugar]='true'></app-formulario>
    </section>
    <section *ngSwitchCase="'item'">

      <app-formulario [modulo]="chaveModulo" [debugar]='true'></app-formulario>
    </section>
    <section *ngSwitchCase="'lista'">


    </section>

  </section>


</ng-container>