@import "~src/sass/construtor";

section {
  padding: 0px;
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  @extend %flex-linha;
}
button {
  margin: 0px;
  padding: 0px 8px;
  margin-right: 8px;
  /* margin-left: 8px; */
}

mat-spinner {
  display: flex;
  flex-direction: row;
  float: left;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 0px;
}

#titulo {
  width: 230px;
  line-height: 150%;
  padding-left: 16px;
  padding-right: 8px;
  @extend %texto-limitar;
  @extend %fonte-sub-titulo-1;
  @media (max-width: 600px) {
    padding-left: 0px;
  }
}
.delete {
  margin-left: -40px;
}
.salvando {
  width: 120px;
  right: 0;
}
