<!-- Conteúdo Módulo
<br>
Celular: {{ i.design.telaCelular }}<br>
Tablet: {{ i.design.telaTablet }}<br>
Desktop: {{ i.design.telaDesktop }}<br>
Desktop&Tablet: {{ i.design.telaDesktopTablet }} -->

<!-- <pre> {{ i.data.usuario?.modulo[i.data.usuario?.credenciais.modulo].form.valid | json }} </pre>
<pre> {{ i.data.usuario?.modulo[i.data.usuario?.credenciais.modulo].form.value | json }} </pre> -->

<app-listar
    *ngIf="i.carregarModulo && i.design.telaDesktopTablet && i.data.usuario.modulo[i.data.usuario.credenciais.modulo].dados.lista"
    [lista]="i.data.usuario?.modulo[i.data.usuario?.credenciais.modulo].dados.lista">
</app-listar>