section {
    position: relative;
    width: 640px;
    height: 384px;
    max-height: 640px;
    background-color: rgba(255, 140, 0, 0.527);
}

video {
    position: absolute;
    width: 100%;
    height: 384px;
    background-color: rgb(9, 255, 0);
}

#controles {
    position: absolute;
    margin-top: 16px;
    left: 16px;
}
#fechar {
    position: absolute;
    margin-top: 16px;
    right: 16px;
}
#play {
    position: absolute;
    padding-top: 25%;
    margin-left: 35%;
    margin-left: calc(50% - 20px);/*  */
}
#mascara {
    width: 100%;
    height: 100%;
    position: absolute;
/*     background: rgba(0, 0, 139, 0.349); */
}

#c2 {
    background-image: url(../../../assets/Logo-V8-Sites.jpg);
    background-repeat: no-repeat;
  }
